# Git
.git
.gitignore
.github

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment
.env

# Tests and Coverage
.pytest_cache/
tests/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/
.eggs/

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Data and Models
data/
artifacts/
reports/
logs/
notebooks/
scripts/

# Project configuration and documentation
Makefile
README.md
pytest.ini
setup.cfg
.flake8
